/*
* @Author: Sebastian B. Mohr
* @Date:   2020-08-07 16:24:28
* @Last Modified by:   Sebastian
* @Last Modified time: 2020-10-19 11:16:27
*/


/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
	font-family: "Open Sans", sans-serif;
	color: #272832;
}

a {
  color: #1A4EB5;
  text-decoration: none;
}

a:hover {
  color: #271c48;
  text-decoration: none;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Navigator
--------------------------------------------------------------*/

.navigator {
	padding-top: 30px;
}

.navigator * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigator a {
  display: flex;
  align-items: center;
  color: #a9a3b0;
  padding: 15px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 18px;
}

.navigator a i {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}

.navigator .active i {
  color: #7762b5;
}
.navigator .active {
  color: #7762b5;
}

.navigator > ul > li {
  position: relative;
  white-space: nowrap;
}

/*active nav and animation on hov3er*/
.navigator a:hover, .navigator .active > a, .navigator li:hover > a {
  text-decoration: none;
  color: #fff;
}

.navigator a:hover i, .navigator .active > a i, .navigator li:hover > a i {
  color: #fff;
}


.navigator .sub-navigator > a {
  display: none;
  padding-left: 30px;
}

.navigator .sub-navigator > a.visible {
  display: block;
  top: 0;
  animation: slide-in 0.3s forwards;
}

@keyframes slide-in {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0%); }
}


.navigator .sub-navigator a.active{
  padding-left: 40px;
}

.navigator .sub-navigator a {
  font-size: 14px;
  padding-top: 4px;
  padding-bottom: 4px;
}


/*Mobile Navigator toggle*/
.mobile-navigator-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-navigator-toggle i {
  color: #4d275f;
}

.mobile-navigator-active {
  overflow-inline: auto;
}

#header.mobile-navigator-active{
  left: 0px;
}

.mobile-navigator-active .mobile-navigator-toggle i {
  color: #fff;
}

.prevent-scrolling{
  overflow-y: hidden;
}

/*--------------------------------------------------------------
# Typewriter
# https://css-tricks.com/snippets/css/typewriter-effect/
--------------------------------------------------------------*/
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #234099; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #234099; }
}
/*--------------------------------------------------------------
# Header i.e. sidebar and profile above navbar (me) 
--------------------------------------------------------------*/
#header {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 325px;
	transition: all ease-in-out 0.5s;
	z-index: 9997;
	transition: all 0.5s;
	background: #0f0626;
  padding: 0 18px;
}

#header .me img{
	margin: 15px auto;
	width: 120px;
	border: 6px solid #271c48;
	display: block;
}

#header .me h1{
	font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;	
}

#header .me h1 a,#header .me a:hover{
  color: #fff;
  text-decoration: none;	
}

#header .me .social-links a {
  color: #fff;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  border-radius: 40px;
  width: 30px;
  height: 30px;
  transition: 0.3s;
}

#header .me .social-links a:hover {
  background: #271c48;
}


#main {
  margin-left: 325px;
}
@media (max-width: 1199px) {
  #header {
    left: -325px;
  }
  #main {
    margin-left: 0;
  }
}


/*--------------------------------------------------------------
# First look
--------------------------------------------------------------*/

#first_look {
  width: 100%;
  height: 100vh;
  background: url("../img/about-profile.jpg") top center;
  background-size: cover;
}

#first_look:before{
  content: "";
  background: rgba(39, 28, 72, 0.4);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#first_look .first_look-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
}

#first_look h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#first_look p {
  color: #fff;
  margin-bottom: 50px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

#first_look p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
}

@media (min-width: 1024px) {
  #first_look {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #first_look h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #first_look h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}
section .no-padding{
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-bg {
  background: #f5f8fd;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #234099;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #271c48;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #234099;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

/*--------------------------------------------------------------
# To top button
--------------------------------------------------------------*/
.to-top{
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  background: #271c48;
  color: #fff;
  z-index: 99999;
}

.to-top.is-visible{
  display: block;
  animation: fade-in 1s ease-in-out;  
}
.to-top.did-fade-in:not(.is-visible){
  display: block;
  animation: fade-out 1s ease-in-out;  
}

.to-top i {
  font-size: 24px;
  position: absolute;
  top: 7px;
  left: 10px;
}

.to-top:hover {
  color: #fff;
  background: #234099;
  transition: background 0.2s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer{
  padding: 18px;
  color: #a9a3b0;
  position: fixed;
  width: 325px;
  left: 0;
  bottom: 0;
  font-size: 15px;
  z-index: 9999;
}

@media (max-width: 1199px) {
  #footer {
    position: static;
    width: auto;
    padding-right: 20px 18px;
  }
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/

.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #0f0626;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #234099;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #0f0626;
  margin-bottom: 10px;
}
.resume .resume-item h5 {
  font-size: 16px;
  background: #e4edf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
  margin-right: 14px 
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 5px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #1f5297;
}

/*--------------------------------------------------------------
# My works
--------------------------------------------------------------*/

.myworks .works-title {
  font-size: 26px;
  font-weight: 700;
  color: #0f0626;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px
}

.myworks .works-item {
  padding: 10px 24px 10px 10px;
  margin-top: -2px;
  position: relative;
}

.works-item figure figcaption{
  color: rgba(51, 51, 51, 0.7)
}

.works-item figure {
  background-color: #e4edf9;
  margin-top:  10px;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

.myworks .works-item h4{
  line-height: 18px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #0f0626;
  padding-right: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.myworks .works-item .works-link {
  padding-right: 15px;
}

.works-link i{
  color: #0f0626;
  transform: scale(1.3);
}
.works-link i:hover{
  color: #0f0626;
  transform: scale(1.3);
}
.works-link{
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.works-link:hover{
  color: #463671;
}
.works-links{
  padding-left: 10px;
}
.nav-link {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #0f0626; 
}
.work-description{
  padding-bottom: 15px !important;
  padding-top: -10px !important;
}

/*--------------------------------------------------------------
# Accordion
--------------------------------------------------------------*/

 /* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #6f7180;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
}

.accordion.active{
  background-color: white;
  color: #7762b5;
}
.accordion>i::before{
  content: "\f067";
  position: relative;
}
.accordion>i:before {
position: relative;
top: 50%;
    transform: translateY(-50%);
    display: block;
}

.accordion.active>i::before{
  content: "\f068";
}

/*

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
} 